{% extends "base.html" %}

{% block content %}
    {% if user %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Welcome, {{ user.username }}!</h2>
                        <p class="card-text">You are successfully logged in with GitHub.</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1>SH Portal</h1>
                {% if message %}
                    <h2 class="card-title">{{ message }}</h2>
                {% endif %}
                <p class="lead">Please log in with the right GitHub account to continue.</p>
                <a href="/login" class="btn btn-primary btn-lg">
                    <i class="bi bi-github"></i> Login with GitHub
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}