##################################################################
# This file is used by `docker-compose` and sets default values.
# You can override any of these in your shell, for example by
# adding export statements to your .bashrc:
#    export DDS_MYSQL_ROOT_PASS=your-value-here
##################################################################

FLASK_SECRET_KEY=your-value-here
DB_NAME=your-value-here
DATABASE_URL=your-value-here
FLASK_DEBUG=your-value-here
GITHUB_CLIENT_ID=your-value-here
GITHUB_CLIENT_SECRET=your-value-here
BASE_URL=your-value-here
GOOGLE_SHEET_ID=your-value-here